<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>
      Welcome! My name is Hoang Nguyen, and I am currently a <b>Junior</b> at
      <b>Brown University</b>, where I am concentrating in <b>Computer Science</b>,
      my interests hugely emphasized in the areas of Software Engineering,
      Full-Stack Web Applications, Systems &amp; Security, and Machine Learning.
      I am driven by the desire to learn and master new and old technologies in order to
      design and write clean, elegant solutions to intricate and interesting problems
   </p>
</div><!--//summary-->
</section><!--//section-->
