<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer Intern</h3>
                            <div class="time">May 2017 - August 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">MathWorks. Natick, MA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <!-- <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p> -->
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Undergraduate TA &amp; Scripts TA</h3>
                            <div class="time">January 2017 - May 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Brown University. Providence, RI</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                           One of the teaching assistants for CSCI 1320: Creating Modern Web Applications
                           at Brown University, an upper level CS course that takes a holistic view
                           at the process of developing web and mobile applications using popular technologies
                           such as HTML/CSS, Javascript/jQuery, NodeJs &amp; Express &amp; Socket.io, SQL &amp; NoSQL, etc.
                        </p>

                        <p>
                           Responsibilities included creating and grading assignments, writing
                           scripts to help students automate the process of installing the assignments
                           as well as to help other TA's to grade, and mentoring students during their final projects
                           with their clients.
                        </p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Android Camp Participant</h3>
                            <div class="time">June 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Twitter. San Fransisco, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                           One of 16 chosen students across the United States to participate in Twitter's
                           newest program: Early Bird Camp. Learned Android mobile development and
                           implemented Tweet Map: an application that tracks the spread of tweets and their
                           retweets. 
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
