<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Blend</a></span> - <span class="project-tagline">Developed a RESTful application to allow communities to borrow and lend items over a secure platform. Blend is built on an Node.js Express backend server, operating off a MySql database. Users can log-in to the application, search for items curated to their preferences on location, request to borrow an item, and rate the service and transaction.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Serengeti Eye</a></span> -
                    <span class="project-tagline">Trained a convolutional network to achieve above 80% accuracy in the classification of African Serengeti wild animals. Minimized overfitting of data by optimizing the C hyperparameter.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">mediumware</a></span> - <span class="project-tagline">The mediumware ecosystem project aims to bring programming to anyone. Using this platform which interfaces the intuitive programming platform, Scratch, users can perform a variety of tasks such as sound activated lights, programmatic alarm clocks, etc - all through Scratch. mediumware is the middleman that makes this possible.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Maps</a></span> - <span class="project-tagline">Maps is a rendition of Google Maps localized for Providence, Rhode Island. Features include
                       autocorrected and suggested listings of addresses, shortest paths optimizations using Dijkstra's algorithm and A*, and
                       nearest neighbor search for a user-friendly interface.
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Chatroom</a></span> - <span class="project-tagline">Minimalist chatroom web application implemented in NodeJs.</span>
                </div><!--//item-->
            </section><!--//section-->
